<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Producto</title>
</head>
<body>
<h1>Formulario de Producto</h1>
<form th:action="@{/productos}" th:object="${producto}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}" />

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" th:field="*{nombre}" required/>

    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" th:field="*{descripcion}" required/>

    <label for="precio">Precio:</label>
    <input type="number" id="precio" th:field="*{precio}" required/>

    <label for="cantidadDisponible">Cantidad:</label>
    <input type="number" id="cantidadDisponible" th:field="*{cantidadDisponible}" required/>

    <label for="archivoImagen">Imagen:</label>
    <input type="file" id="archivoImagen" name="archivoImagen"/>

    <!-- Muestra la imagen actual si existe -->
    <div th:if="${producto.imagen}">
        <p>Imagen actual:</p>
        <img th:src="@{/images/{imagen}(imagen=${producto.imagen})}" alt="Imagen del Producto" style="max-width: 200px;">
    </div>

    <button type="submit">Guardar</button>
</form>
</body>
</html>
