<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <title>Lista de Productos</title>
</head>
<body>
<section layout:fragment="contenido">
    <div class="container mt-5">
    <h1>Lista de Productos</h1>
    <a href="/productos/crear" class="btn btn-primary mb-3">Nuevo Producto</a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Proveedor</th>
            <th>Temporada</th>
            <th>Precio Venta</th>
            <th>Costo Alquiler</th>
            <th>Estado</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto : ${productos}">
            <td th:text="${producto.id}"></td>
            <td th:text="${producto.codigoProducto}"></td>
            <td th:text="${producto.nombre}"></td>
            <td th:text="${producto.categoria.nombre}"></td>
            <td th:text="${producto.proveedor.nombre}"></td>
            <td th:text="${producto.temporada.nombre}"></td>
            <td th:text="${producto.precioVenta}"></td>
            <td th:text="${producto.costoAlquiler}"></td>
            <td th:text="${producto.estado}"></td>
            <td>
                <!-- Mostrar imagen del producto -->
                <img th:src="@{'/images/' + ${producto.imagenUrl}}" alt="Imagen del producto" class="img-thumbnail" style="width: 100px; height: auto;">
            </td>
            <td>
                <a th:href="@{/productos/editar/{id}(id=${producto.id})}" class="btn btn-warning btn-sm">Editar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</section>
</body>
</html>
